<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <form action="create-room" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="username">User Email:</label>
        <input type="email" id="userEmail" name="userEmail" required>
        <% if (roomId) { %>
            <input type="hidden" name="roomId" value="<%= roomId %>">
        <% } %>
        <button type="submit">Join Room</button>
    </form>
</body>
</html>
